<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Item</th>
      <th>Debit</th>
      <th>Credit</th>
      <% if params[:item_id].present? %>
      <th>Balance</th>
      <% end %>
      <th>Reporter</th>
      <th>Time</th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% if @tx_histories.present? %>
      <% @tx_histories.each_with_index do |tx, index| %>
        <tr style="<%= tx.type.to_s=='Withdrawal' ? 'color: red' : 'color: black' %>" >
          <td><%= index+1 %></td>
          <td><%= link_to tx.item.try(:full_name), transactions_path(tx.item_id) %></td>
          <td><%= number_to_currency set_debit(tx.type,tx.amount), unit: "", delimiter: ".", separator: "," %></td>
          <td><%= number_to_currency set_credit(tx.type,tx.amount), unit: "", delimiter: ".", separator: ","  %></td>
          <% if params[:item_id].present? %>
          <td><%= number_to_currency tx.user.wallet.get_running_balance(tx.id, tx.item_id), unit: "", delimiter: ".", separator: "," %></td>
          <% end %>
          <td><%= tx.user.name %></td>
          <td><%= tx.created_at.to_s(:long) %></td>
          <td><%= link_to "?", transaction_transaction_show_path(id: tx.id), class: 'btn btn-warning' %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td> No transactions found. </td>
      </tr>
    <% end %>
  </tbody>
</table>
