<% if user_signed_in? %>
<h3> Dashboard </h3>

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Target Amount</th>
      <th>Balance</th>
      <th>Target Date Until</th>
    </tr>
</thead>
  <tbody>
      <% Item.order("name ASC").each_with_index do |tx, index| %>
        <tr style="<%= tx.target_amount >= current_user.wallet.get_running_balance(TransactionHistory.last.id, tx.id) ? 'color: red': 'color: blue' %>">
          <td><%= tx.name %>(<%= tx.unit %>)</td>
          <td><%= number_to_currency tx.target_amount, unit: "", delimiter: ".", separator: "," %></td>
          <td><%= number_to_currency current_user.wallet.get_running_balance(TransactionHistory.last.id, tx.id), unit: "", delimiter: ".", separator: "," %></td>
          <td><%= tx.target_date.to_s(:long) rescue nil %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>