<h3>Emveep Wallet</h3>
<p>just a simple wallet</p>

<br/>	

<% if stock_signed_in? %>         
	<%= link_to "Dashboard", dashboard_stock_subjects_index_path, :class => 'btn btn-primary btn-md'  %>
<% end %>

<% if team_signed_in? %>         
	<%= link_to "Dashboard", dashboard_team_subjects_index_path, :class => 'btn btn-primary btn-md'  %>
<% end %>

<% if user_signed_in? %> 
	<%= link_to "Deposit", transaction_transaction_deposit_path, :class => 'btn btn-warning btn-md'  %> 
	<%= link_to "Transfer", transaction_transaction_transfer_path, :class => 'btn btn-info btn-md'  %> 
	<%= link_to "Withdrawal", transaction_transaction_withdrawal_path, :class => 'btn btn-success btn-md'  %>	
<% end %>
