<h1>Detail Page Transaction</h1>
<table class="table">
  <thead>
    <tr>
      	<th>Tx Type</th>
      	<th><%= @trans.type_ina %></th>
    </tr>
    <tr>
      	<th>Item</th>
      	<th><%= @trans.item.try(:full_name) %></th>
    </tr>
    <tr>
      	<th>Amount</th>
    	<th><%= number_to_currency @trans.amount, unit: "", delimiter: ".", separator: "," %></th>
    </tr>
    <tr>
      	<th>Donatur</th>
      	<th><%= @trans.donatur.try(:name) || '-' %></th>
    </tr>
    <tr>
      	<th>Notes</th>
      	<th><%= @trans.notes || '-' %></th>
    </tr>
    <tr>
      	<th>Time</th>
        <th><%= @trans.created_at.to_s(:long) %></th>
    </tr>
</thead>
  <tbody>
        <tr>
          <td><%= %></td>
        </tr>
  </tbody>
</table>
