<h1>Withdrawal Page</h1>
<%= render 'shared/wallet_info' %>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<%= emf(@trans) %>
		<%= form_tag transaction_transaction_do_withdrawal_path, :method => "post" do %>
			<br>
			<%= number_field_tag 'amount', @amount , :required => "required", :autocomplete => "off", :placeholder =>"Amount", :class => "form-control"%>
			<br/>

			<button class="btn btn-primary" type="submit">Withdrawal Now</button>
			<%= link_to "Back", root_path, :class => 'btn btn-default btn-md'  %>

			<br>
			<br>
		<%end%>
	</div>
</div>

<br/>
<br/><p>Withdrawal Page</p>