<!DOCTYPE html>
<html>
  <head>
    <title>EmveepWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <% if !stock_signed_in? %>
          <% if team_signed_in? %>
            <%= current_user.type %><br/> 
            <%= current_user.email %> | 
            <%= link_to 'Log out', destroy_team_session_path, method: :delete %>
          <% else  %>
            <%= link_to "Login as Team", new_team_session_path, :class => 'navbar-link'  %> |
            <%= link_to "Sign up as Team", new_team_registration_path, :class => 'navbar-link'  %>
          <% end %>
        <% end %>
        
        <br/>
        
        <% if !team_signed_in? %>
          <% if stock_signed_in? %>
            <%= current_user.type %><br/>
            <%= current_user.email %> | 
            <%= link_to 'Log out', destroy_stock_session_path, method: :delete %>
           <% else %>
            <%= link_to "Login as Stock", new_stock_session_path, :class => 'navbar-link'  %> |
            <%= link_to "Sign up as Stock", new_stock_registration_path, :class => 'navbar-link'  %>
          <% end %>
        <% end %>
      <% else %>
        Login as : <%= link_to "Team", new_team_session_path, :class => 'navbar-link'  %> |  <%= link_to "Stock", new_stock_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
    

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
